.emoji-rocket {
    position: absolute;
    left: 0;
    top: 80vh;
}

.tech-img {
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
}

.react-logo-animation {
    animation: rotateLogo infinite ease;
    animation-duration: 4s;
}

@keyframes rotateLogo {
    0% {
        transform: rotate(90deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(270deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(60deg);
    }
}